// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Reset CSS */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            line-height: 1.6;
            scroll-behavior: smooth;
            font-family: "Comfortaa", sans-serif;
        }

        nav {
            padding: 10px;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000;
            display: flex;align-items: center;
    justify-content: space-between;
        }

        nav .logo {width: 80%; max-width: 500px;    max-height: 100px;        }
        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            color: #0f4096;
            text-decoration: none;
            font-weight: bold;display: flex;    padding: 4px;   align-items: center;
        }
        nav ul li a img {width: 30px;
        }

        nav ul li a:hover {
            color: #ff6347;
        }

        .menu-toggle {
            display: none;
        }

        section {
            padding: 100px 20px;
            min-height: 100vh;
        }

        #inicio {
            background-color: #f4f4f4;
        }

        #nosotros {
            background-color: #e2e2e2;
        }

        #servicios {
            background-color: #d1d1d1;
        }

        #contacto {
            background-color: #c0c0c0;
        }

        @media (max-width: 768px) {
            nav ul {
                display: none;
                flex-direction: column;
                background-color: #333;
                position: absolute;
                top: 50px;
                width: 100%;
                left: 0;
            }

            nav ul.show {
                display: flex;
            }

            .menu-toggle {
                display: block;
                background-color: #333;
                color: #fff;
                border: none;
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
            }
        }